
.navbar *{
   border: none !important;
}
.navbar.nav-home{
   background-color: rgba(20, 2, 2, 0.925) !important;
}
.navbar.stiki{
   position: fixed;
   left: 0;
   top: 0;
   z-index: 90;
}
.navbar .navbar-toggler-icon{
   background-color: rgba(255, 255, 255, 0.925);
   
}
